body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #1E90FF;
	color: #fff;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.hero-section {
	height: 500px;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.hero-section img {
	flex: 1;
	height: 100%;
	object-fit: cover;
}
